<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Education</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- jQuery -->
        <script
        src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
        crossorigin="anonymous"></script>

        <!-- Popper.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

        <!-- Bootstrap JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="styles/standardstyle.css">
        <script src="scripts/Resume.js" defer></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
            <a class="navbar-brand mr-auto" href="#" id="brand">ResuMe</a>
            <ul class="navbar nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="homepage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Awards">Awards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Extras">Extras</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid" id="collegePage">
            <div class="row">
                <div class="col-6" id="collegeAbout">
                    <h1 class="editable" id="schoolTitle"><%= data.schoolTitle %><hr></h1>
                     <button type="button" class="editButton">editContent</button>
                     <button type="button" class="cancelButton">Cancel</button>
                     <button type="button" class="saveButton" id="educationSaveButton">Save</button>
                    <img src="img/College.JPEG" alt="College campus image here" id="collegeImage">
                    <br>
                    <br>
                    <h1>About <hr></h1>
                    <p class="editable" id="aboutSchool"><%= data.aboutSchool %></p>
                    <br>
                </div>
                <div class="col-6">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Major</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Undergraduate</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Graduate</a>
                        </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                            <h1>Major</h1>
                            <p class="editable" id="major"> <%= data.major %></p>

                            <h1>Minor</h1>
                            <p class="editable" id="minor" ><%= data.minor %></p>
                            <br>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"> 
                            <p class="editable" id="undergraduate"><%= data.undergraduate %></p>
                            
                        </div>
                        <div class="tab-pane fade" id ="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <p class="editable" id="graduate"> <%= data.graduate %></p>
                        </div>
                        
                      </div>

                    <!-- <h1>Major<hr></h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium animi maiores praesentium sint. Minus, molestiae delectus iusto
                        harum ea libero aliquid nemo necessitatibus molestias totam quam quibusdam dolorum obcaecati alias dolorem? In, neque? Consequatur
                        cum incidunt exercitationem hic debitis unde eum dicta repudiandae, quibusdam quia vero! Hic assumenda eaque sapiente, commodi
                        natus nemo laborum et velit obcaecati veniam corrupti, soluta consectetur veritatis dolor aspernatur optio nam magni incidunt.
                        Reiciendis natus consectetur omnis vel enim placeat repellat aperiam at necessitatibus nulla quod ab modi beatae amet, non inventore alias
                        iste voluptatum totam animi a in molestiae. Eius quidem quos deserunt fuga.
                    </p>
                    <h1>Minor<hr></h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium animi maiores praesentium sint. Minus, molestiae delectus iusto
                        harum ea libero aliquid nemo necessitatibus molestias totam quam quibusdam dolorum obcaecati alias dolorem? In, neque? Consequatur
                        cum incidunt exercitationem hic debitis unde eum dicta repudiandae, quibusdam quia vero! Hic assumenda eaque sapiente, commodi
                        natus nemo laborum et velit obcaecati veniam corrupti, soluta consectetur veritatis dolor aspernatur optio nam magni incidunt.
                        Reiciendis natus consectetur omnis vel enim placeat repellat aperiam at necessitatibus nulla quod ab modi beatae amet, non inventore alias
                        iste voluptatum totam animi a in molestiae. Eius quidem quos deserunt fuga.
                    </p> -->
                </div>
            </div>
        </div>



        <nav class="navbar navbar-expand-lg navbar-dark">
            <ul class="navbar nav">
                <li class="nav-item">
                    <a class="nav-link text-white">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white">1-800-Resume</a>
                </li>
                <li class="nav-item">
                    <a href="mailto:dtn5089@psu.com" id="footerEmail">email</a><br>
                </li>
        </nav>









            <!--bottom nav, enable later-->
        <!-- <div class="container border border-primary">
            <div class="bg bg-primary">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, facere. Delectus ea ducimus odit vitae impedit. Sunt dicta dolorem minima sequi pariatur commodi asperiores ab, amet quis nam, aut ullam.
            </div>
        </div> -->



    </body>
</html>
