<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Experience</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Jquery.js -->
        <script
        src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
        crossorigin="anonymous"></script>

        <!-- Popper.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

        <!-- Bootstrap JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="styles/standardstyle.css">
        <script src="scripts/Resume.js" defer></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
            <a class="navbar-brand mr-auto" href="#" id="brand">ResuMe</a>
            <ul class="navbar nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="homepage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="Skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Awards">Awards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Extras">Extras</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid" id="experiencePageGrid">
            <div class="row">
                <div class="col-3" id="experienceLeftGrid">
                    <div class="nav flex-column nav-pills" id="experienceTab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link editable active" id="workExperience1" data-toggle="pill" href="#employer1ContentTab" role="tab" aria-controls="employer1ContentTab" aria-selected="true"><%= data.workExperience1.employerName%></a>
                        <a class="nav-link editable" id="workExperience2" data-toggle="pill" href="#employer2ContentTab" role="tab" aria-controls="employer2ContentTab" aria-selected="false"><%= data.workExperience2.employerName%></a>
                    </div>
                    <button type="button" class="editButton">editContent</button>
                    <button type="button" class="cancelButton">Cancel</button>
                    <button type="button" class="saveButton" id="experienceSaveButton">Save</button>
                </div>
                <div class="col-9">
                    <div class="tab-content" id="experienceTabContent">
                        <div class="tab-pane fade show active experienceContentPage" id="employer1ContentTab" role="tabpanel" aria-labelledby="workExperience1">
                            <div class="container-fluid">
                                <h2 id="Employerfont"><%= data.workExperience1.employerName%></h2>
                                <hr>
                                <h2  id="EmfontItalicised">About Employer</h2>
                                <p class="editable" id="aboutDescription1"><%= data.workExperience1.aboutDescription%></p>
                            </div>
                            <div id="backgroundcolor">
                            <h2 id="Employerfont">Responsibilities</h2>
                            <br>
                            <div class="container-fluid">
                                <ul class="nav nav-pills mb-3" id="responsibilitiesTab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link editable active" id="emp1Task1" data-toggle="pill" href="#emp1Task1Pane" role="tab" aria-controls="emp1Task1Pane" aria-selected="true"><%= data.workExperience1.tasks[0].task%></a>
                                    </li>

                                    <li class="nav-item">
                                      <a class="nav-link editable" id="emp1Task2" data-toggle="pill" href="#emp1Task2Pane" role="tab" aria-controls="emp1Task2Pane" aria-selected="false"><%= data.workExperience1.tasks[1].task%></a>
                                    </li>

                                    <li class="nav-item">
                                      <a class="nav-link editable" id="emp1Task3" data-toggle="pill" href="#emp1Task3Pane" role="tab" aria-controls="emp1Task3Pane" aria-selected="false"><%= data.workExperience1.tasks[2].task%></a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link editable" id="emp1Task4" data-toggle="pill" href="#emp1Task4Pane" role="tab" aria-controls="emp1Task4Pane" aria-selected="false"><%= data.workExperience1.tasks[3].task%></a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link editable" id="emp1Task5" data-toggle="pill" href="#emp1Task5Pane" role="tab" aria-controls="emp1Task5Pane" aria-selected="false"><%= data.workExperience1.tasks[4].task%></a>
                                    </li>
                                </ul>
                                <br>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="emp1Task1Pane" role="tabpanel" aria-labelledby="emp1Task1"><h2 id="jobnames"><%= data.workExperience1.tasks[0].task%></h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilities</h2>
                                        <p  class="editable"id="emp1Task1Desc">
                                            <%= data.workExperience1.tasks[0].taskDescription%>
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="emp1Task2Pane" role="tabpanel" aria-labelledby="emp1Task2"><h2 id="jobnames"><%= data.workExperience1.tasks[1].task%></h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilites</h2>
                                        <p class="editable" id="emp1Task2Desc">
                                            <%= data.workExperience1.tasks[1].taskDescription%>
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="emp1Task3Pane" role="tabpanel" aria-labelledby="emp1Task3"><h2 id="jobnames"><%= data.workExperience1.tasks[2].task%></h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilites</h2>
                                        <p  class="editable"id="emp1Task3Desc">
                                            <%= data.workExperience1.tasks[2].taskDescription%>
                                        </p>

                                    </div>
                                    <div class="tab-pane fade" id="emp1Task4Pane" role="tabpanel" aria-labelledby="emp1Task4"><h2 id="jobnames"><%= data.workExperience1.tasks[3].task%></h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilites</h2>
                                        <p  class="editable"id="emp1Task4Desc">
                                            <%= data.workExperience1.tasks[3].taskDescription%>
                                        </p>

                                    </div>
                                    <div class="tab-pane fade" id="emp1Task5Pane" role="tabpanel" aria-labelledby="emp1Task5"><h2 id="jobnames">
                                        <%= data.workExperience1.tasks[4].task%></h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilites</h2>
                                        <p  class="editable"id="emp1Task5Desc">
                                            <%= data.workExperience1.tasks[4].taskDescription%>
                                        </p>

                                    </div>
                                </div>

                            </div>
                        </div>
                      </div>
                        <div class="tab-pane fade experienceContentPage" id="employer2ContentTab" role="tabpanel" aria-labelledby="workExperience2">
                            <h2  id="Employerfont"><%= data.workExperience2.employerName%></h2>
                            <hr>
                            <p class ="editable" id="aboutDescription2"><%= data.workExperience2.aboutDescription%></p>
                            <h2 id="Employerfont">Responsibilities</h2>
                            <br>
                            <div class="container-fluid">
                                <ul class="nav nav-pills mb-3" id="responsibilitiesTab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link editable active" id="emp2Task1" data-toggle="pill" href="#emp2Task1Pane" role="tab" aria-controls="emp2Task1Pane" aria-selected="true"><%= data.workExperience2.tasks[0].task%></a>
                                    </li>

                                    <li class="nav-item">
                                      <a class="nav-link editable" id="emp2Task2" data-toggle="pill" href="#emp2Task2Pane" role="tab" aria-controls="emp2Task2Pane" aria-selected="false"><%= data.workExperience2.tasks[1].task%></a>
                                    </li>

                                    <li class="nav-item">
                                      <a class="nav-link editable" id="emp2Task3" data-toggle="pill" href="#emp2Task3Pane" role="tab" aria-controls="emp2Task3Pane" aria-selected="false"><%= data.workExperience2.tasks[2].task%></a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link editable" id="emp2Task4" data-toggle="pill" href="#emp2Task4Pane" role="tab" aria-controls="emp2Task4Pane" aria-selected="false"><%= data.workExperience2.tasks[3].task%></a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link editable" id="emp2Task5" data-toggle="pill" href="#emp2Task5Pane" role="tab" aria-controls="emp2Task5Pane" aria-selected="false"><%= data.workExperience2.tasks[4].task%></a>
                                    </li>
                                </ul>
                                <br>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="emp2Task1Pane" role="tabpanel" aria-labelledby="emp2Task1">
                                        <h2 id="jobnames"><%= data.workExperience2.tasks[0].task%></h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilities</h2>
                                        <p  class="editable"id="emp2Task1Desc">
                                            <%= data.workExperience2.tasks[0].taskDescription%>
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="emp2Task2Pane" role="tabpanel" aria-labelledby="emp2Task2"><h2 id="jobnames"><%= data.workExperience2.tasks[1].task%></h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilites</h2>
                                        <p class="editable" id="emp2Task2Desc">
                                            <%= data.workExperience2.tasks[1].taskDescription%>
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="emp2Task3Pane" role="tabpanel" aria-labelledby="emp2Task3"><h2 id="jobnames"><%= data.workExperience2.tasks[2].task%></h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilites</h2>
                                        <p  class="editable"id="emp2Task3Desc">
                                            <%= data.workExperience2.tasks[2].taskDescription%>
                                        </p>

                                    </div>
                                    <div class="tab-pane fade" id="emp2Task4Pane" role="tabpanel" aria-labelledby="emp2Task4"><h2 id="jobnames"><%= data.workExperience2.tasks[3].task%></h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilites</h2>
                                        <p  class="editable"id="emp2Task4Desc">
                                            <%= data.workExperience2.tasks[3].taskDescription%>
                                        </p>

                                    </div>
                                    <div class="tab-pane fade" id="emp2Task5Pane" role="tabpanel" aria-labelledby="emp2Task5"><h2 id="jobnames"><%= data.workExperience2.tasks[4].task%></h2>
                                        <hr>
                                        <h2 id="responsibility">Responsibilites</h2>
                                        <p  class="editable"id="emp2Task5Desc">
                                            <%= data.workExperience2.tasks[4].taskDescription%>
                                        </p>

                                    </div>
                                    
                                </div>

                            </div>

                        </div>
                        
                    </div>
                </div>

            </div>
        </div>



        <nav class="navbar navbar-expand-lg navbar-dark">
            <ul class="navbar nav">
                <li class="nav-item">
                    <a class="nav-link text-white">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white">1-800-Resume</a>
                </li>
                <li class="nav-item">
                    <a href="mailto:dtn5089@psu.com" id="footerEmail">email</a><br>
                </li>
        </nav>



    </body>
</html>
