<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Extras</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Jquery -->
        <script
        src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
        crossorigin="anonymous"></script>

        <!-- Popper.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

        <!-- Bootstrap JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="styles/standardstyle.css">
        <script src="scripts/Resume.js" defer></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
            <a class="navbar-brand mr-auto" href="#" id="brand">ResuMe</a>
            <ul class="navbar nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="homepage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="Skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Awards">Awards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="">Extras</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="extrasTab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="extrasUndergraduateTab" data-toggle="pill" href="#extrasUndergraduateContent" role="tab" aria-controls="extrasUndergraduateContent" aria-selected="true"><span>Undergraduate<span></a>
                        <a class="nav-link" id="extrasGraduateTab" data-toggle="pill" href="#extrasGraduateContent" role="tab" aria-controls="extrasGraduateContent" aria-selected="false"><span>Graduate<span></a>
                    </div>
                    <br>
                    <button type="button" class="editButton">Edit Content</button>
                    <button type="button" class="cancelButton">Cancel</button>
                    <button type="button" class="saveButton" id="extrasSaveButton">Save</button>
                </div>
                <div class="col-9">
                    <div class="tab-content" id="extrasTabContent">
                        <div class="tab-pane fade show active" id="extrasUndergraduateContent" role="tabpanel" aria-labelledby="extrasUndergraduateTab">
                            <div class="container">
                                <br>
                                <h2  class="editable" id="undergradExtra1"><%= data.undergraduate.undergradExtra1.undergradExtra %></h2>
                                <hr>
                                <h2  class="involvementDescription descriptionI">Description</h2>
                                <div id="blueBox">
                                <p  class="extrasparagraph editable" id="undergradExtra1Description"><%= data.undergraduate.undergradExtra1.extraDescription %></p>
                              </div>
                                <br>
                                <h2  class="editable" id="undergradExtra2"><%= data.undergraduate.undergradExtra2.undergradExtra %></h2>
                                <hr>
                                <h2  class="involvementDescription descriptionI">Description</h2>
                                <div id="blueBox">
                                <p  class="extrasparagraph editable" id="undergradExtra2Description"><%= data.undergraduate.undergradExtra2.extraDescription %></p>
                              </div>
                                <br>
                                <h2  class="editable" id="undergradExtra3"><%= data.undergraduate.undergradExtra3.undergradExtra %></h2>
                                <div id="bluebox">
                                <hr>
                                <h2  class="involvementDescription descriptionI">Description</h2>
                                <div id="blueBox">
                                <p  class="extrasparagraph editable" id="undergradExtra3Description"><%= data.undergraduate.undergradExtra3.extraDescription %></p>
                              </div>
                              </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="extrasGraduateContent" role="tabpanel" aria-labelledby="extrasGraduateTab">
                            <div class="container">
                                <br>
                                <h2  class="editable extrasnames" id="gradExtra1"><%= data.graduate.gradExtra1.gradExtra %></h2>
                                <div id="bluebox">
                                <hr>
                                <h2  class="involvementDescription descriptionI">Description</h2>
                                <div id="blueBox">
                                <p  class="extrasparagraph editable" id="gradExtra1Description"><%= data.graduate.gradExtra1.extraDescription %></p>
                              </div>
                                <br>
                                <h2  class="editable extrasnames" id="gradExtra2"><%= data.graduate.gradExtra2.gradExtra %></h2>
                                <hr>
                                <h2  class="involvementDescription descriptionI">Description</h2>
                                <div id="blueBox">
                                <p  class="extrasparagraph editable" id="gradExtra2Description"> <%= data.graduate.gradExtra2.extraDescription %></p>
                              </div>
                                <br>
                                <h2  class="editable extrasnames" id="gradExtra3"><%= data.graduate.gradExtra3.gradExtra %></h2>
                                <hr>
                                <h2  class="involvementDescription descriptionI">Description</h2>
                                <div id="blueBox">
                                <p  class="extrasparagraph editable" id="gradExtra3Description"> <%= data.graduate.gradExtra3.extraDescription %></p>
                              </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark">
            <ul class="navbar nav">
                <li class="nav-item">
                    <a class="nav-link text-white">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white">1-800-Resume</a>
                </li>
                <li class="nav-item">
                    <a href="mailto:dtn5089@psu.com" id="footerEmail">email</a><br>
                </li>
        </nav>

    </body>
</html>
